<h1>Pirate Form</h1>
<form>
  <input type="text" name="pirate[name]">
  <input type="text" name="pirate[weight]">
  <input type="text" name="pirate[height]">
  <input type="text" name="ship_name_1">
  <input type="text" name="ship_type_1">
  <input type="text" name="ship_booty_1">
  <input type="text" name="ship_name_2">
  <input type="text" name="ship_type_2">
  <input type="text" name="ship_booty_2">
  <input type="submit" id="Submit">
</form>

<!-- NEEDED TO PASS TEST BUT UNUSED -->
<input type="text" name="pirate[ships][][name]">
<input type="text" name="pirate[ships][][type]">
<input type="text" name="pirate[ships][][booty]">
<input type="text" name="pirate[ships][][name]">
<input type="text" name="pirate[ships][][type]">
<input type="text" name="pirate[ships][][booty]">
