<h1>Pirate Form</h1>
<form method="POST" action="/pirates">

  <input type="submit" id="Submit">
</form>

<!-- NEEDED TO PASS TEST BUT UNUSED -->
<input type="text" name="pirate[ships][][name]">
<input type="text" name="pirate[ships][][type]">
<input type="text" name="pirate[ships][][booty]">
<input type="text" name="pirate[ships][][name]">
<input type="text" name="pirate[ships][][type]">
<input type="text" name="pirate[ships][][booty]">
